/* @theme dakken_light_theme */

@import "default";

section {
  position: relative;
  background-color: #dde;
}
section::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/4gKgSUNDX1BST0ZJTEUAAQEAAAKQbGNtcwQwAABtbnRyUkdCIFhZWiAH5AAFAAEABgApADZhY3NwQVBQTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLWxjbXMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAtkZXNjAAABCAAAADhjcHJ0AAABQAAAAE53dHB0AAABkAAAABRjaGFkAAABpAAAACxyWFlaAAAB0AAAABRiWFlaAAAB5AAAABRnWFlaAAAB+AAAABRyVFJDAAACDAAAACBnVFJDAAACLAAAACBiVFJDAAACTAAAACBjaHJtAAACbAAAACRtbHVjAAAAAAAAAAEAAAAMZW5VUwAAABwAAAAcAHMAUgBHAEIAIABiAHUAaQBsAHQALQBpAG4AAG1sdWMAAAAAAAAAAQAAAAxlblVTAAAAMgAAABwATgBvACAAYwBvAHAAeQByAGkAZwBoAHQALAAgAHUAcwBlACAAZgByAGUAZQBsAHkAAAAAWFlaIAAAAAAAAPbWAAEAAAAA0y1zZjMyAAAAAAABDEoAAAXj///zKgAAB5sAAP2H///7ov///aMAAAPYAADAlFhZWiAAAAAAAABvlAAAOO4AAAOQWFlaIAAAAAAAACSdAAAPgwAAtr5YWVogAAAAAAAAYqUAALeQAAAY3nBhcmEAAAAAAAMAAAACZmYAAPKnAAANWQAAE9AAAApbcGFyYQAAAAAAAwAAAAJmZgAA8qcAAA1ZAAAT0AAACltwYXJhAAAAAAADAAAAAmZmAADypwAADVkAABPQAAAKW2Nocm0AAAAAAAMAAAAAo9cAAFR7AABMzQAAmZoAACZmAAAPXP/bAEMABQMEBAQDBQQEBAUFBQYHDAgHBwcHDwsLCQwRDxISEQ8RERMWHBcTFBoVEREYIRgaHR0fHx8TFyIkIh4kHB4fHv/AAAsIAZABkAEBEQD/xAAdAAEAAwEBAQEBAQAAAAAAAAAABwgJBgUEAwEC/8QAVxAAAQMDAgIDCwULBwcNAAAAAAECAwQFBgcREiEIEzEJIjdBUWFxdYGRsxQVMlJyFhgjQlaCkpShsdEkMzhilcLSNlNXdKKy0yU0VFVjc4OTo7TBw/D/2gAIAQEAAD8AuWAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAfks0SKqLKxFTxK5B10H+ej/AEkHXQquySxqv2kP1AAAAB81VV0tK1HVNVDAi9iySI3f3n4fPdm/62oP1ln8Qy8Wh7kay6ULnL2IlQxVX9p6AAAAAAAAAAAAAAAAPivNfS2qz1l0rpOqpaOB9RO/6rGNVzl9yKZj60a1ZhqPf6yorLnWUdmfI75LbIZlbFHHv3qOROT3bdqr499tiLAD6qSsq6V6PpqqeBydixyK1U9x0tn1J1Bs6otszTIKZG/ituMvD+irtv2Eg4v0ptYLI5iSX6G7RNXmyvpmv4k8nEmzv2k86adM3Hrj1dJnVjls0y8vllE5Z4FXyqxe/Yn6RZXFcksWT2eK7Y9daW50Mv0ZqeRHJv5F8i+ZeZ7QAIn6Uuo02muk1beKCRjLtVyNo7fxc+GVyKqv28fC1HL7EM0L5eLpfLnNc7xX1FfWzO4pJ6iRXvcvpU84FiOhnq3eMW1IteJ3G6TS47d5EpUp5ZFcynmdyjczf6O7tkVE5LuaIAAhHpqZNd8a0Krqiy1ctHU1dVFSOmicrXtjeq8WypzRVRNvaZtvmmkcr3yvc5V3VVcqqqn+Osk+u73jrJPru959lvuVwttZHWW+tqaSpjcjmSwSuY9qp2Kiou6FwOmxl97l0U066uvqIPn2nbV13VPVnWuSCJ2ztu1N5VXbs5J5CmfWSfXd7x1kn13e8dZJ9d3vHWSfXd7z9Ip54npJHNIx6c0c1yoqGl/Q+vdyv2gNirbrVz1VUxZYFmmer3uayRUbuq815ciYgAAAAAADideVVuieaK1dl+Y6tP8A0nGToAAAO00s1HyrTi+tu+LXF9M5VTr6d+7oahqfivZ2L4+fam/JUNGtA9V7FqriaXO2qlPX0/Cy4ULn7vp5FTxeVi7Ls7x7L40UkoAoN3QjMnXnU2gxSCbeksVNxSNReS1Euyu39DUYnm5+UrAAfRTzSQTMmhe6OSNyOY9q7K1UXdFRfKauaKZa3N9K8fyfjas1ZRs+Uo3sSZqcMiebvkU7QArv3QbwBL60p/7xneAC2XTUikbodo2rmKiMtiNdunYvyan5fsX3FTQADSfoNtc3o5WTiRU3nqFTzp1qk4gAAAAAAHE69+BLNPUlX8Jxk6AAAASDoHqLXaZ6kW/Iqd0i0fEkNwgav89TuVOJNvGqfSTzohqVba2luNBTXGhnZPS1UTZoJWLu17HIitcnmVFQ+0+C+3OkstmrbvcJUio6KnfUTvX8VjGq5y+5DJXPsjq8tzO75NW7pPcquSoc3ffgRy8m+hE2T2HgAAu73OXNUqsfvuCVUv4WikSvo2qvbE/ZsiJ9lyNX88t2AV37oN4Al9aU/wDeM7y3HRb6PGC6j6Uw5NkL7qlc+smhVKepRjOFi7Jy4VJV+840l/zl+/XU/wAJ9Fs6ImklJVx1EsF5rGsci9VNW947bxLwoi7e0lLP9PMQznHocfya1x1VBTvR9OxqrGsKonCisVu23JdiiPTL02xXTTN7LasUpJ6alq7b8olbLO6VVf1r27oruzkiEDFidbtKsOxfo1YTm9no6mK9Xd9KlZI+oc9jkfTyPds1eSd81OwrsW86Hmh+n2oem1Rf8qttTV1sNzkp2qyqfG3gaxioitRfK5S42NWO1Y5Y6SyWSjjo7fSR9XDDH2NT/wDeM9YAAAAAAA4nXvwJZp6kq/hOMnQCddAejpd9WcYqshgyKktFHBVLSsSSB0r3uRqOcuyKiInfJ4/KSDWdCDJGt/kec2mV3klo5I0/YrjiMu6JWrNkhkno6W23yNib/wAgqe/VPM16NVSDrtbq+0XKa3XSiqKKsgcrJYJ41Y9i+RUXmh8IBpB0F8ofkWglDSzycc9mqZLe5VXnwps9n+y9E9hPBX7p3Zi3HNEJrTDNwVl+nbRsai81iTvpF9GyIn5yGdAABKfRZzBMM1yx+5zS9VR1M/yKqVV2RI5e93XzIqtX2GooBXbugrkTQRG/WutOie5xngaL9AH+j1Tesqn/AHkLAgFD+6SeFHG/Uv8A98hVcuF0n/6FWmH/AHtD/wCzlKemgnc6/AhXeupvhxFlAAAAAAAAcTr34Es09SVfwnGToBoN3O3wHVvrqb4cZZIFfemTpLbs2wGvyW30TGZJZ4HTxysbs6oham743fW2TdU8ip5zOkAuZ3NO6O3zazPcqt/klVG3xIv4Vr1/3PcXMM8enxmL7/rSljhm4qPH6ZKdrUXkkz9nyL6foJ+ahXUHR4XiN3ypLwtph6z5otstyqeXZFHtxfvOcB/UXZd0NVOjtmK5xo1j2QTS9bVupUgrHb7qs0fePVfOqpv7SQwVV7pBeYKbTjHrFxp8orro6oRu/Pq4o1Ry/pSMKInuWvKMktNGlJa8hu1BToquSKmrZI2br2rs1UTc/f7us3/LDIv7Tm/xEpdGzV/OrXq7jduq8nu1ytlxr4qKopayrfMxWyORiKiPVeFUVUXl5CwfdAM0yPFcSxqhx681tqW41c6zS0kzopHNjazZvE1UVE3fvy8iFGrverveZWTXi6VtxkY3gY+qqHyua3ffZFcq7JueYevXXy8Vlugt1bdq+poYNupppql74o9k2Thaq7JsiqnI8g9uy5Rkljg6iy5Fd7ZHx8fBSVskLeLy7NVOfJOZpJ0TMmu2W6FWS63yslra/eWGSeVd3ycD1RFVfGu23MlkAAAAAAA4nXvwJZp6kq/hOMnQDQbudvgOrfXU3w4yyQPyljjljdHI1Hseitc1U3RUXtQyByqhZbcnuttjTvKStmgb6GvVqfuPKBbDubEjk1ByqP8AFdao3L6UlT+KlzszvlHjGK3XIrgu1LbaWSpkRF2VyNaq8KedexPOpkrk94rcgyG4Xy4v46y4VMlTM7+s9yuXbzczywXy7n7gtPR6X3fJ7jStkkyGZaZrXt3RaWNFbt6HOc/fy7IU71exOTCtS79i70dwUNY9kLndrolXeNfa1UORBczucebbLf8AAayXt4blQ7r6GSt+GqJ9ouYfm9zWNV73I1rU3VVXZEQzP6XGo0eoWrlXUW+p6+zWxvyKgc1e9e1q9/In2nb8/GiIQ2Adjof4ZsL9fUXx2Fpu6XovzPg689kqKxFX82EpQAAaTdBlFTo52RFRU3nqVT/zVJyAAAAAAAOJ178CWaepKv4TjJ0A0G7nb4Dq311N8OMskD4L5cqSzWWtu9dIkdJRU76iZ6/isY1XKvuQyEvFa+43WruEibPqp3zOTffZXOVy/vPhBbHua8W+d5ZOvYy2RM98u/8AdJU7oHmLbFpHTY1BLw1eQVXArUXn1EWznr6OJY09pn0AXr076UekGH4LZsYo6XIFittHHBxJRsTjcid876fjduvtK9dK/PMM1H1ApcoxKOvidLRthrmVUKRqr2KvC5NlXfdqon5vnIZBIXR5zBMH1hx7IZZeqpI6psNW7fkkMnePVfMiLv7DVRqoqIqLui9ilQ+nTrRcrRNJphjyvppKimbJdatHbOWN6coWeRFTm5fIqJ5SkoJ86JmiVj1fjyVb3d7lb/mlaXqvkfB3/W9bvxcTV7OrTbbyqQvk1Ey2ZHcrbE9z2UlXLAxzu1yMerUVfPyPd0P8M2F+vqL47DS3VnTTGdTMejs2UU80kUE3XQSQycEkT9lRVRfOi807ChXS00yxzS3P7dYccmrpYKi2Nq5Vq5Gvcj1kkbsmyJy2YnvIWJ/1k0exjEOjxhmeW2ouL7re30yVLJpWuiRJKd8i8KI1FTm1PGvIgAtX0Tej/hWpunlRkOST3ZtTDcZKZI6adrGKxrGKm/equ+7l8Zc/DMas+I4zQ47YaVKW3UUfVwx7qq7dqqqrzVVXmqnvAAAAAAAHE69+BLNPUlX8Jxk6AaC9zt8B1b66m+HGWTPlrKmmoqOSqq6iKnp4mq6SWV6MYxE7VVV5IhTbpkdIOz3mwy4FgtY2uhqV2ulwiX8GrEXlFGv4269ruzZNk33XanQBdvua1mfHYMwyB7PwdTVU1HE5f+ya97vis9xDnTgzD7p9crhRwycdJY4m2+LZeSPTvpF9PEqp7PMQOAAADUToqZeuZaG4/cpputrKWH5DVKq7qskXe7r51bwr7SmXTw/pHXb/AFOl+EhBALn9zL/mc/8AtW791SVMz/8Ay7v/AKzqfiuPV0P8M2F+vqL47DWczl6el3bc+kDWUzHI5tuoYKbl4l2V6p73kAl1umVb32ronaeWyRvDJSz0EL0/rNopEX9u5Sk0E7nX4EK711N8OIsoAAAAAAADide/AlmnqSr+E4ydAO0wbUvOsIo5qTE8lrbVT1D+slihVFY5+23Fs5FRF22TdPIh7lTr/rFP3r8/u+39VzG/uahyGTZjleTrvkOSXa6JvujaqrfI1F8zVXZPYhzwANHNGaVmjXROS83ODqqyGglus8T+SumkTeNi+f6DfMZ33Ktqrlcqm41szpqqqlfNNI7te9yq5yr6VVT4wAAAW47nLmi0mSXzBKmX8FXxJX0bVXslj2bIifaYrV/8M+jpl6J5/k+rDspxeyS3iiraaGNyQObxwvY3hVHIqpyXZF385y2b6Arpx0bbtlGUtjlyeqqaWOOJjkcyiiWRN2ovje7xr4k5J4960Fz+5l/zOf8A2rd+6pKmZ/8A5d3/ANZ1PxXHq6H+GbC/X1F8dhqtkV2oLFZK293OdsFFQwPnnkd+Kxqbr+4ya1FyWoy/O71lFU1WSXOskqOBV34GuXvW7+Zuyew/bSzHXZbqLjuNNYrkuFwihk28UauTjX2NRyl0e6OIjdGbG1qIiJf40RE8X8nnKDGgnc6/AhXeupvhxFlAAAAAAAAcTr34Es09SVfwnGToAAABPnQ90en1DzqC+3ajVcYtMqSVDnp3lTKnNsKeXxK7zeknPuiOZsteBWrDKeXaqvFQtRO1F7IIvL9p6t2+y4ogD0bDaq++Xmjs9sp31NdWzNgp4m9r3uXZE95KP3sutH5HS/rEX+Ifey60fkdL+sRf4h97LrR+R0v6xF/iOc1B0h1AwO0RXXK7BLb6KaZIGSrIx6caoqoi8KrtyRTgAdlovlr8H1QsGUI5yRUVYxahG9roVXhkT9FVNXqWeKaCOeGRskUjUex7V3RzVTdFTzbEHdPP+jjdP9dpfioZwHW4FqLmmCpWpiN+qrQldwfKepRq9ZwcXDvxIvZxu95zdZUT1lZPV1EiyTzyOklcva5zl3VfaqnUaH+GbC/X1F8dhcHuiWW3Sz4HYsZoJOqp77POtY5O1zIUjVGehVkRV+yUNLTdz1wWa7Z3XZzVwr8gs0SwUzlTk+pkTnt9lm6r9ppKndH/AAN2T1/H8CcoKaCdzr8CFd66m+HEWUAAAAAAABxmttNNV6O5hS07FfLJZKtGNRN1cvUu5IZNAAAH6Rtc9yNa1XOVdkRE3VVLEaE9FvK8xrKe6ZfBUY7j+6PckreGqqG/VYxfoIv1nexFL34ljllxTHqSwWCgiobdSs4Yoo096qvjVe1VXtM+unJfKi8dIO600qu6q2QQ0cLV8SI3jXb0ueqkEgsX0B8Off8AWhb9NAr6KwUy1DnqnJJn7sjT0/TX81TQ0AjbpK4a7ONGL/Y4IeurW061NG1E3VZo++aieddlT2mWABqB0Sb9UX/o+4vVVTnOmp6daNXO7XJE5WN/2URPYc/08kVejldNv+m0vxUM3wDsdD0VdZsLRE3/AOXqL47Cz3dNP+b4D9u4fupipWIWC65TkVDYLLSPqrhXSpFDG3xqvjVfEidqr4kQ1K0Zwa36d6c2vFaBzZFpo+KpmRNuvndze/2r2eZEIV7o/wCBuyev4/gTlBTQTudfgQrvXU3w4iygAAAAAAAPze1rmq1yI5qpsqKm6KhSnWjofXxb/VXbTioop7dUvWRLbUydVJTqq7q1jl71zfJuqKnZz7SMV6KmtCLt9zlMvorov4j71TWj8nKb9ei/iE6KmtG+33O0369F/E+ul6JWskrk47PboUXxvuEfL3KdBaOhhqVVPRbheMdt8fj/AA0krvYjWbftQknEOhPjlMrZcpzC43JU5rFRU7aZnoVzleqp6NicdOtG9N8EkbUY7i9HFWM+jWTp106edHu3Vvs2JDBVPpWdGy+51ly5phtTRrW1ETWVtDUP6vjc1Nkex/ZzTZFRduzffnskAP6LOszXK37mYnbeNK2Lb95+9B0VNY6upZC6w0lK1y85Zq2NGtTyrsqr7kLqdHTSqk0nwFtlSVlXc6mT5RcapjdmySbbI1u/PhanJN/OvLclAAFIteuifk1TmddftPGUdRba+V07qF8yRSU73Lu5G78lZvzTnum+23IjD71rWf8AJiP9ci/iepjvRI1budZHFXUNutNOrkR89RVtdwp5eFm6qXs0qw6hwPALVilDK+aKghRjpnN4VlevNz9vFuqqu3iP5qrhVu1AwW4YpdHyxU1a1PwsW3HE9qorXJvy5KhVir6Dtckrvk2olO6PfvestLkdt59pVPz+8buv+kOi/st3/EH3jd1/0h0X9lu/4h22jnRIoMLze3ZTeMtdeJbdKk1PSw0PUM6xPouc5XuVURee2yc07SROkro1S6vY9b6Nbn813G2zPkpKh0XWMVHoiPY5u6LsvC1d07Nj4Ojp0fbBpQ191mqvnnIpmKx1a6LgZCxe1kTd1238blXdfMnIm0j/AF201tuqWBzYvcKpaGTrW1FLVtj41hlaiojuHdOJNlVFTdOS9pWNOg9e+s2XPrd1e/0vm5++3o4//ks/olpxb9L8Dp8XttVLWcMjpqipkYjFmldtxO4U34U5IiJuuyJ2qd6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAf/Z");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.03;
  z-index: -1;
}
section::after {
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
}
section.mokuji a {
  font-size: 95%;
  color: #002a4d;
  text-decoration: underline;
}
section.mokuji h2 a:hover {
  font-size: 100%;
  color: #00447b;
  text-decoration: none;
  transition-duration: 0.1s;
}

h1 {
  color: #005498;
}
h2 {
  color: #00447b;
}

a {
  font-size: 120%;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

pre {
  background-color: rgb(210, 210, 230, 0.9);
  margin-right: 80px;
}
pre code {
  font-size: 30px;
}

code {
  background-color: rgba(200, 200, 220, 0.6);
  margin: 0 4px;
}

blockquote {
  font-size: 30px;
}

table {
  background-color: rgba(200, 200, 220, 0.6);
}

strong {
  color: #00447b;
  font-size: 120%;
}

h5 strong {
  color: #00447b;
  font-size: 120%;
}

.title {
  font-size: 80px;
  text-align: center;
  font-weight: 600;
  color: #004491;
}

.subtitle {
  position: absolute;
  top: 40px;
  font-size: 45px;
  font-weight: 600;
  color: #00447b;
}

.content {
  margin-top: 40px;
}

.split,
section .split {
  display: flex;
  flex-wrap: wrap;
}
.split pre {
  margin-right: 25px;
}

.division_1 {
  width: 100%;
}
.division_2 {
  width: 50%;
}
.division_3 {
  width: 33.3333333333%;
}
.division_4 {
  width: 25%;
}
.division_5 {
  width: 20%;
}
.division_6 {
  width: 16.6666666666%;
}
.division_7 {
  width: 14.2857142857%;
}
.division_8 {
  width: 12.5%;
}

.percent_5 {
  width: 5%;
}
.percent_10 {
  width: 10%;
}
.percent_15 {
  width: 15%;
}
.percent_20 {
  width: 20%;
}
.percent_25 {
  width: 25%;
}
.percent_30 {
  width: 30%;
}
.percent_35 {
  width: 35%;
}
.percent_40 {
  width: 40%;
}
.percent_45 {
  width: 45%;
}
.percent_50 {
  width: 50%;
}
.percent_55 {
  width: 55%;
}
.percent_60 {
  width: 60%;
}
.percent_65 {
  width: 65%;
}
.percent_70 {
  width: 70%;
}
.percent_75 {
  width: 75%;
}
.percent_80 {
  width: 80%;
}
.percent_85 {
  width: 85%;
}
.percent_90 {
  width: 90%;
}
.percent_95 {
  width: 95%;
}

.true {
  color: rgb(0, 0, 100);
}
.false {
  color: rgb(200, 0, 0);
}
